<%= stylesheet_link_tag "application/best_practice", :media => "all" %>
<%#= javascript_include_tag "application/best_practice" %>
<%= form_for(@best_practice) do |f| %>
  <%# FIXME (cmhobbs) this doesn't belong in the view %>
  <% if @best_practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@best_practice.errors.count, "error") %> prohibited this Idea from being saved:</h2>

      <ul>
        <% @best_practice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span7">


    <%#= hidden_field :organization_id, :value => @best_practice.organization_id %>
    <!--
    <div class="field">
      <%#= f.label :title, "Type *" %>
      <%#= f.select :title, options_for_select(["Key Insight", "Question"], @best_practice.title), include_blank: true, :required => true %>
    </div>
    -->

    <div class="field">
      <%= f.label :title, "Title *" %>
      <%= f.text_field :title, :required => true %>
    </div>

    <div class="field" style="width:90%;">
      <%= f.label "Describe your Key Insight or Question *" %><p class="tabbertab-lbreak"></p>
      <%= f.text_area :body, :cols => 30, :rows => 5, :required => true %>
    </div>

    <div class="field">
      <label>External Link Title (optional)</label>
      <%= f.text_field :link_title %>
    </div>

    <div class="field">
      <%= f.label 'External Link (optional)' %>
      <%= f.text_field :ext_link %>
    </div>


    <br>
    <%= f.check_box :anonymous, { :style => "display:inline;" } %>
    <%= f.label 'Post Anonymously' , { :style => "display:inline;" } %>

    <div class="actions" style="padding-top:20px;">
      <%= f.submit "Edit Insight", :class => 'btn btn-large btn-primary roundedge' %>
    </div>
    <br/ >
    <b>* Required</b>

    <%#= f.hidden_field :organization_id, :value => @organization_id %>
    <%= f.hidden_field :is_public, :value => false %>

  </div>
<% end %>
