<div class="container">
  <div class="row">
    <div class="span12">
      <h2 class="page title">Thank you for your order</h2>
      <h4 class="page title-sec">We will send you a confirmation email for your records shortly</h4>
      <p>Select the begin assessment button below to get started!</p>
    </div>
  </div>
  <div class="row">
    <div class="span8 center">
      <h4><span><%= image_tag "lockicon_purchase.png" , :alt =>'lockicon_purchase'%>Order confirmation number <%= @assessment_purchase.id %></h4>


        <h3 class="order-title">Your Order Details</h3>

        <div class="order-details">
          <h4><%= "Customer Name:  #{@assessment_purchase.user.name}" %></h4>
          <h4><%= "Order Number:  #{@assessment_purchase.id}" %></h4>
          <h4><%= "Order Date:  #{@assessment_purchase.created_at.strftime("%m-%d-%Y")}" %></h4>
          <h4><%= "Payment Method:  #{@charge_object.card.type}" %></h4>
        </div>

        <div class="payment-amount">
          <h4>Total
            <span><span class="d">$</span><%= @charge_object.amount %><span>.00</span></span>
          </h4>
        </div>
        <div class="begin-assessment">
          <%= link_to 'Begin Your Assessment',  new_assessment_report_path %>
        </div>

      </div>
    </div>
  </div>
