 <h3>Not a Member?</h3>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  
  <div class="sign-in-row">
    <%= f.input :name, :autofocus => true, :label => false, :placeholder => 'Full Name', :input_html => { :style => 'float:left; margin-bottom:12px;' }%>
    <%= f.input :email, :required => true, :label => false, :placeholder => 'Email Address', :input_html => { :style => 'float:left; margin-bottom:12px;' } %>
  </div>
  
  <div class="sign-in-row">
    <div class="input user_organization" style = "float:left;">
      <label><%= text_field_tag 'user[organization_name]', resource.organization.try(:title), :class => "auto_complete_org_name",  :label => false, :placeholder => 'Company' %>
        <%= f.hidden_field :organization_id, :class =>'auto_complete_org_id' %>
        <%= render 'devise/registrations/auto_complete_org_name' %>
      </label>
    </div>
    <%= f.input :location, :label => false, :placeholder => 'City, State', :input_html => { :style => 'float:left; margin-bottom:12px;' } %>
  </div>
  <div class="sign-in-row">
    <%= f.input :password, :required => true, :label => false, :placeholder=> 'Password', :input_html => { :style => 'float:left; margin-bottom:12px;' } , :error => "This defaults to 'number' input based on field type" %>
    <%= f.input :password_confirmation, :required => true, :label => false, :placeholder =>'Verify Password', :input_html => { :style => 'float:left;' } %>
  </div>
  <div style="clear:both">
    By clicking one of the following sign up options, you agree to our<br /> 
    <a href="/docs/terms_of_use.pdf" target="_blank">terms of use</a> and <a href="/docs/privacy_policy_updated.pdf" target="_blank">privacy policy.</a>
  </div>
  <%= f.submit 'Join In Person', :class => 'btn btn-large btn-primary roundedge', :id => 'submit' %> <div style="float:left; text-align:center; width:30px; height:44px; line-height:44px;"></div>
  <%= f.submit 'Join Virtually', :class => 'btn btn-large btn-primary roundedge', :id => 'submit' %> <div style="float:left; text-align:center; width:45px; height:44px; line-height:44px;"></div>  
      
<% end %>
