<h1>Manage <%= @org.title%>'s Members</h1>
<p>Check the box next to the user's name and click the update button to remove them from the group.</p>

<%= form_tag destroy_many_user_groups_path, :method => :destroy_many do %>		
			<div>
				<table>
				  <tbody>
				    <% @users.each do |row| %>
				      <tr>
				        <% row.each do |column| %>
                         <% column.user_groups.each do |ug| %>
				          <td>
				          	<div>
				             <%= check_box_tag "user_groups[]", ug.id %> <%= column.name %>
				            </div>
				          </td>
				         <% end %>
				        <% end %>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		<%= submit_tag "Update Members", :class => "btn btn-large btn-primary", :style => "margin-top:20px;" %>
<% end %> 
