<%= stylesheet_link_tag "application/mentor_action_plans", :media => "all" %>
<h1>Listing mentor_action_plans</h1>

<table>
  <tr>
    <th>User</th>
    <th>Opportunity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentor_action_plans.each do |mentor_action_plan| %>
  <tr>
    <td><%= mentor_action_plan.user_id %></td>
    <td><%= mentor_action_plan.opportunity_id %></td>
    <td><%= link_to 'Show', mentor_action_plan %></td>
    <td><%= link_to 'Edit', edit_mentor_action_plan_path(mentor_action_plan) %></td>
    <td><%= link_to 'Destroy', mentor_action_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mentor action plan', new_mentor_action_plan_path %>
