<div class="share wrap row">
  <div class="topper">
    <div class="span12 prev">
      <%= link_to "Back to your report", :back%>
    </div>
  </div>
  <div class="span12">
      
    <h3>Share your organization report</h3>
    
    <%= form_tag share_with_email_organization_report_path(params[:id]) do %>
      <%= label_tag "emails", "Email address(es)"%>
      <%= text_field_tag "emails", "", :class =>"span8", :placeholder => 'Multiple separated by commas' %><br/>


      <%= label_tag "subject", "Subject"%>
      <%= text_field_tag "subject", "Take a look at the Activity Report", :class =>"span8" %><br/>
      
      <%= label_tag "text", "Message"%>
      <%= text_area_tag "text", "I wanted to share this report with you. What do you think?",  :class =>"span8", :style =>"height:3em;" %><br/>
      
      <br/>
      <%= submit_tag 'Share', :class => "btn btn-primary btn-large roundedge" %>
    <% end %>

  </div>
</div>
