<p id="notice"><%= notice %></p>

<p>
  <b>Opportunity:</b>
  <%= @feedback.opportunity_id %>
</p>

<p>
  <b>Creator:</b>
  <%= @feedback.creator_id %>
</p>

<p>
  <b>Q1:</b>
  <%= @feedback.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%= @feedback.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%= @feedback.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%= @feedback.q4 %>
</p>

<p>
  <b>Q5:</b>
  <%= @feedback.q5 %>
</p>

