<div class="tabbable full-width-tabs">
            <ul class="nav nav-tabs nav-justified">
                <li class="active take-all-space-you-can"><a href="#tab-one" data-toggle="tab">Home</a></li>
                <li class="take-all-space-you-can"><a href="#tab-two" data-toggle="tab">Leader Engagement</a></li>
                <li class="take-all-space-you-can"><a href="#tab-three" data-toggle="tab">Ally Engagement</a></li>
                <li class="take-all-space-you-can"><a href="#tab-four" data-toggle="tab">Fund Raising</a></li>
                <li class="take-all-space-you-can"><a href="#tab-five" data-toggle="tab">Resources</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-one">
                  <div class="tab-content-spacing">
                    <h4 class="splash-header">Who We Are</h4>
                    <p>Circles USA (previously known as Move The Mountain) was established in 1992 through funding from the Annie E. Casey Foundation and several other foundations and government agencies.  Our mission is to inspire and equip families and communities to resolve poverty and thrive.The Circles model started in 2000 as a way to increase the capacity of communities to address poverty.  The approach combines best practices in several disciplines including community organizing, case management, grassroots leadership, SMART goal setting, financial literacy, mentoring, peer-to-peer counseling and learning, and child/youth development.The poverty rate in the United States has not dropped significantly since 1965. And if we continue to expect government and social services to take care of poverty without the help of individuals, nothing is likely to change. That's why Circles has captured the imaginations of people of conscience across the United States, including educators, social workers, community organizers, faith leaders, business leaders, and politicians.Circles is an action plan that brings together the best efforts and resources of individuals, organizations, communities, and government in a program proven to raise people out of poverty.</p>
                                
                  </div>
                </div>
                <div class="tab-pane" id="tab-two">
                  <div class="tab-content-spacing">
                      <h3 class="splash-header">View Idea</h3>
                       <ul>
                       <% BestPractice.with_category("Leader Engagement").each do |bp| %>
                       <li><b><%= link_to bp.title, best_practice_path(bp), :class => ""  %></b> <% if bp.emb_link? %><%= image_tag("VideoIcon.png", :alt =>'VideoIcon', :class => "fc-icons") %><% end %> <% if bp.ext_link? %><%= image_tag("LinkIcon1.png", :alt =>'LinkIcon1', :class => "fc-icons") %><% end %><% if bp.documents? %><%= image_tag("DocIcon.png", :alt =>'DocIcon', :class => "fc-icons") %><% end %><% if bp.audio? %><%= image_tag("AudioIcon.png", :alt =>'AudioIcon', :class => "fc-icons") %><% end %></li>
                       <% end %>
                      </ul> 
                      <h3 class="splash-header">Post Idea</h3>
                       <% @leader = "Leader Engagement" %>
                       <%= render 'best_practices/form', :category => @leader %>
                   </div>       
                </div>
                <div class="tab-pane" id="tab-three">
                  <div class="tab-content-spacing">
                      <h3 class="splash-header">View Idea</h3>
                       <ul>
                       <% BestPractice.with_category("Ally Engagement").each do |bp| %>
                       <li><b><%= link_to bp.title, best_practice_path(bp), :class => ""  %></b> <% if bp.emb_link? %><%= image_tag("VideoIcon.png", :alt =>'VideoIcon', :class => "fc-icons") %><% end %> <% if bp.ext_link? %><%= image_tag("LinkIcon1.png", :alt =>'LinkIcon1', :class => "fc-icons") %><% end %><% if bp.documents? %><%= image_tag("DocIcon.png", :alt =>'DocIcon', :class => "fc-icons") %><% end %><% if bp.audio? %><%= image_tag("AudioIcon.png", :alt =>'AudioIcon', :class => "fc-icons") %><% end %></li>
                       <% end %>
                      </ul>
                      <h3 class="splash-header">Post Idea</h3>
                      <% @ally = "Ally Engagement" %>
                      <%= render 'best_practices/form', :category => @ally %>
                  </div>    
                </div>
                <div class="tab-pane" id="tab-four">
                  <div class="tab-content-spacing">
                        <h3 class="splash-header">View Idea</h3>
                         <ul>
                          <% BestPractice.with_category("Fund Raising").each do |bp| %>
                          <li><b><%= link_to bp.title, best_practice_path(bp), :class => ""  %></b> <% if bp.emb_link? %><%= image_tag("VideoIcon.png", :alt =>'VideoIcon', :class => "fc-icons") %><% end %> <% if bp.ext_link? %><%= image_tag("LinkIcon1.png", :alt =>'LinkIcon1', :class => "fc-icons") %><% end %><% if bp.documents? %><%= image_tag("DocIcon.png", :alt =>'DocIcon', :class => "fc-icons") %><% end %><% if bp.audio? %><%= image_tag("AudioIcon.png", :alt =>'AudioIcon', :class => "fc-icons") %><% end %></li>
                         <% end %>
                         </ul>
                          <h3 class="splash-header">Post Idea</h3>
                      <% @fundraising = "Fund Raising" %>
                      <%= render 'best_practices/form', :category => @fundraising  %>
                  </div>  
                </div> 
                <div class="tab-pane" id="tab-five">
                  <div class="tab-content-spacing">
                    <h3 class="splash-header">View External Resources</h3>
                      <ul>
                        <li class="">Administrator Contact Information:XXXXXXXXXXXX</li>
                        <li class=""><a href="http://www.amazon.com/PerformanceGPA-Achieving-Performance-Through-Service/dp/1478714417/ref=sr_1_3_title_1_har?s=books&ie=UTF8&qid=1389388411&sr=1-3&keywords=performance+gpa" target="_blank" style="color:#0088cc;">PerformanceGPA&reg; Book</a></li>
                        <li class=""><a href="/docs/White_Paper.pdf" target="_blank" style="color:#0088cc;"> serve2perform Whitepaper</a></li>
                        <%  FastContent.in_organization(7).each do |fc| %>
                        <li class=""><%= link_to fc.topic, fast_content_path(fc), :class => "" %>
                          <% if fc.emb_link? %><%= image_tag("VideoIcon.png", :alt =>'VideoIcon', :class => "fc-icons") %><% end %> <% if fc.ext_link? %><%= image_tag("LinkIcon1.png", :alt =>'LinkIcon1', :class => "fc-icons") %><% end %><% if fc.documents? %><%= image_tag("DocIcon.png", :alt =>'DocIcon', :class => "fc-icons") %><% end %><% if fc.audio? %><%= image_tag("AudioIcon.png", :alt =>'AudioIcon', :class => "fc-icons") %><% end %></li>
                        <% end %>
                      </ul> 
                      <h3 class="splash-header">View Internal Resources</h3>
                        <ul>
                          <%  FastContent.in_organization(26).each do |fc| %>
                          <li class=""><%= link_to fc.topic, fast_content_path(fc), :class => " " %>
                            <% if fc.emb_link? %><%= image_tag("VideoIcon.png", :alt =>'VideoIcon', :class => "fc-icons") %><% end %> <% if fc.ext_link? %><%= image_tag("LinkIcon1.png", :alt =>'LinkIcon1', :class => "fc-icons") %><% end %><% if fc.documents? %><%= image_tag("DocIcon.png", :alt =>'DocIcon', :class => "fc-icons") %><% end %><% if fc.audio? %><%= image_tag("AudioIcon.png", :alt =>'AudioIcon', :class => "fc-icons") %><% end %></li>
                          <% end %>
                        </ul>
                  </div>    
                </div> 
                 
            </div> 
        </div> 